
body {
  width: 100% !important;
  height: 100%;
  background-color: rgb(35, 36, 36);
  font-family: 'Montserrat', sans-serif;
 
}


@media(max-width: 600px){
  body{
    display: flex;
    width: auto;
    margin: 0;
  }
}

